Welcome to <%= @school_class.title %> in Room <%= @school_class.room_number %>!

<a href="<%= new_school_class_path(@school_class) %>"><button>Add Class</button></a>
<a href="<%= edit_school_class_path(@school_class) %>"><button>Edit Class</button></a>